beautifulsoup4
reportlab
pinecone[grpc] 
langchain-pinecone 
langchain_community 
langchain_openai 
langchain_experimental
pypdf
rich
PyMuPDF
sentence-transformers

anthropic
python-dotenv
google-generativeai
streamlit
googlesearch-python